/* css reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
};
body {
  line-height: 1;
};
ol, ul {
  list-style: none;
};
blockquote, q {
  quotes: none;
};
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
};
table {
  border-collapse: collapse;
  border-spacing: 0;
};
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
};
/* =============================================== */
.active {
  background-color: #fff;
  color: #333 !important;
  padding: 10px 0;
  border-radius: 30px;
};

/* ckEditor ====================================== */
.MuiBox-root.css-1vva2nt {height: 240px;}
div.ck.ck-reset.ck-editor.ck-rounded-corners > div.ck.ck-editor__main {height: 200px;}
div.ck.ck-reset.ck-editor.ck-rounded-corners > div.ck.ck-editor__main > div {height: 200px;}
.MuiBox-root.css-11yd3ge > p , .MuiBox-root.css-11yd3ge > strong , .MuiBox-root.css-11yd3ge > i {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;} 
/* MUI dialog ==================================== */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded{ position: absolute; top: 50%; left: 57%; transform: translate(-50%,-50%);}